h1, div {
    color: red;
}

.crypto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-container {
    display: flex;
    flex-direction: column;
}
