body {
    margin: 0px;
    margin-top: 1px;
    font-family: 'Merriweather', serif;
    color: black;
    background-color: rgb(241, 242, 243);
}

a {
    text-decoration: none;
    color: black;
}

.heading {
    background-color: rgb(241, 242, 243);
    border: 1px solid black;
}

.navbar {
    border-bottom: 1px solid black;
    background-color: gray;
    height: 50px;
}

hr {
    margin: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1;
}

.button-group {
    gap: 20px;
}

.button {
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}